* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-color: #057568;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  color: #fff;
  margin-bottom: 20px;
}

.search-container {
  position: relative;
}

.search {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 0px;
  height: 40px;
  position: relative;
  padding-right: 40px;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.search.active {
  max-width: 250px;
}
.search.has-result {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search.has-result + .search-result {
  display: block;
}

input.search-input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

button.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #019875;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-result {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
